main {
  width: 550px;
  margin: 40px auto;
  position: relative;
}

main section {
  width: calc(100% - 30px);
  display: block;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  margin: 20px 0;
  padding: 15px;
  position: relative;
}

main section h3 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
}

main #dateSelection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #dateSelection form .iconInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 7px;
}

main #dateSelection form .iconInput label {
  display: block;
  min-width: 30px;
  text-align: center;
  border-radius: 4px 0 0 4px;
  position: relative;
  background-color: #9ae9a7;
  border: 1px solid #5ebf6e;
}

main #dateSelection form .iconInput label i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #5ebf6e;
}

main #dateSelection form .iconInput input {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  background-color: #f5f5f5;
  border: #a0a0a0 1px solid;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  padding: 3px 15px;
  outline: none;
  cursor: pointer;
}

main #dateSelection form .iconInput:focus-within label {
  border-color: #41984f;
}

main #dateSelection form .iconInput:focus-within input {
  border-color: #303030;
}

main #pieSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

main #pieSection #no-data-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  display: none;
}

main #pieSection .pie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #pieSection #chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  font-size: 13px;
  min-width: 100px;
  max-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main #pieSection #chartjs-tooltip i {
  font-size: 14px;
}

main #pieSection #chartjs-tooltip span {
  padding-left: 5px;
  color: #fff;
}

main #pieSection > table {
  padding-top: 20px;
  grid-column: 1 / -1;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #303030;
}

main #pieSection > table th,
main #pieSection > table td {
  text-align: center;
  min-width: 60px;
}

main #pieSection > table th {
  font-weight: 600;
}

main #pieSection > table td {
  font-weight: 400;
}

main #pieSection > table td[ispositive="0"] {
  color: #cb1036;
}

main #pieSection > table td[ispositive="1"] {
  color: #41984f;
}

@media screen and (max-width: 600px) {
  main {
    width: 350px;
  }
  section h3 {
    margin-top: 10px;
    margin-bottom: 14px;
  }
  main #pieSection #chartjs-tooltip {
    font-size: 11px;
  }
  main #pieSection #chartjs-tooltip i {
    font-size: 12px;
  }
  main #pieSection #chartjs-tooltip > table {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 300px;
  }
  main #dateSelection form .iconInput input {
    font-size: 10px;
    padding: 3px 7px;
  }
}
/*# sourceMappingURL=analytics.css.map */