@import "../colors";

$filterDisabledOpacity: 0.4;

#list {
  table,
  tbody {
    width: 100%;
  }

  tr {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 100px;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  tr:not(:first-child) {
    padding: 1px;
    &:nth-child(odd) {
      background-color: $fieldBackground;
    }

    &:hover {
      padding: 0;
      border: 1px solid $fieldBorder;
    }
  }

  tr[isincome="0"] td:nth-of-type(3) {
    color: $darkerRed;
    font-weight: 400;
  }

  tr[isincome="1"] td:nth-of-type(3) {
    color: $darkerGreen;
    font-weight: 400;
  }

  tr[onclick] {
    cursor: pointer;
  }

  th,
  td {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: $text;
    font-size: 12px;
    text-align: center;
  }

  td[completeSpan] {
    grid-column: 1 / -1;
    pointer-events: none;
  }

  th {
    font-weight: 600;
    user-select: none;

    .title,
    .filter {
      display: inline-block;
      position: relative;
      padding: 0 2px;
      cursor: pointer;

      i {
        position: absolute;
        transform: translateY(-80%);
        opacity: $filterDisabledOpacity;
      }

      &[state="1"] i:first-child {
        opacity: 1;
      }

      &[state="2"] i:last-child {
        opacity: 1;
      }
    }
  }

  td {
    font-weight: 300;

    i {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  #list {
    tr {
      grid-template-columns: 60px 1fr 1fr 70px;
    }
    th,
    td {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 400px) {
  #list {
    tr {
      grid-template-columns: 45px 1fr 1fr 70px;
    }
    th,
    td {
      font-size: 10px;
    }
  }
}
