$fieldBackground: #f5f5f5;
$fieldBackgroundDarker: #ebebeb;
$fieldBorder: #a0a0a0;
$text: #303030;

$lightGreen: #9ae9a7;
$darkGreen: #5ebf6e;
$darkerGreen: #41984f;

$lightRed: #f75374;
$darkRed: #df1941;
$darkerRed: #cb1036;

$lightBlue: #55f4fa;
$darkBlue: #55c0fa;
$darkerBlue: #0481c4;
